<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO">
    <Appenders>
        <Console name="LoggingToConsole" target="SYSTEM_OUT">
                <JsonTemplateLayout eventTemplateUri="classpath:LogstashJsonEventLayoutV1.json"/>
        </Console>
        <File name="LoggingToFile" filename="src/main/application.log" append="true">
                <JsonTemplateLayout eventTemplateUri="classpath:LogstashJsonEventLayoutV1.json"/>
        </File>
    </Appenders>
    <Loggers>
         <Root level="info">
             <AppenderRef ref="LoggingToConsole"/>
             <AppenderRef ref="LoggingToFile"/>

         </Root>
    </Loggers>
</Configuration>